%a{:id => "btn1", :href => "#", :title => "Donor" }
  %strong Donor

%a{:id => "btn2", :href => "/drivers", :title => "Driver" }
  %strong Driver

%input#donor_info{:placeholder => "Donor Enter Code. To be placed in modal that pops up when donor clicks 'Donor'"}

= javascript_include_tag("home")
