%a{:id => "donor", :href => "#", :title => "Donor" }
  %strong Donor

%a{:id => "driver", :href => "/drivers", :title => "Driver" }
  %strong Driver

%a{:id => "volunteer", :href => "/volunteers", :title => "Volunteer" }
  %strong Volunteer


%input#donor_info{:placeholder => "Donor Enter Code. To be placed in modal that pops up when donor clicks 'Donor'"}

= javascript_include_tag("home")
