.central{
  margin:20px auto;
  display:block;
  text-align: center;
}

.gift{
  width:100%;
  max-width:400px;
}

.recipient{
  font-size:24px;
  text-transform: uppercase;
}

.topborder{
  border:3px solid rgba(89, 171, 227, 0.5);
}

.wish{
  font-size:16px;
  width:400px;
  line-height: 24px;
  text-align:center;
  margin:30px auto;
}

#qrcode img{
  margin:0px auto;
  display:block;
}

#qrcode{
  margin-top:50px;
}